<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-9">
    <button mat-fab color="primary" (click)="goToHomePage()">
      <mat-icon>keyboard_backspace</mat-icon></button
    >Management Console</a
  >

  <button
    class="navbar-toggler position-absolute d-md-none collapsed"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu"
    aria-controls="sidebarMenu"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
</header>

<div class="container-fluid">
  <div class="row">
    <!-- <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
    >
      <div class="position-sticky pt-5 sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              Products/Goods
            </a>
          </li>
        </ul>
      </div>
    </nav> -->

    <main class="col-md-9 ms-sm-auto col-lg-10">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-left pt-3 pb-2 mb-3"
      >
        <div class="container-fluid">
          <!-- 
            <mat-card-title>
              Products #{{ totalNumberOfProducts }}
            </mat-card-title>
            <mat-card-subtitle> </mat-card-subtitle>
            <button
              mat-raised-button
              color="primary"
              data-bs-toggle="modal"
              data-bs-target="#addNewProduct"
            >
              add new product <mat-icon>add</mat-icon>
            </button>
            <div
              class="row"
              style="margin-top: 5px"
              [(ngModel)]="searchText"
              ngDefaultControl
            >
              <div class="col-3">
                <input type="text" class="form-control" placeholder="search" />
              </div>
            </div>
          </mat-card> -->
        </div>
      </div>

      <!--Modal dialog to add new product -->
      <div
        class="modal fade"
        id="addNewProduct"
        tabindex="-1"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 text-capitalize">
                add new product/good
              </h1>
              <button
                #close
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <!-- product form -->
            <div class="modal-body">
              <!-- product details -->
              <form [formGroup]="productForm" class="row g-3">
                <div class="col-md-6">
                  <label class="form-label text-capitalize"
                    >Product/Good name</label
                  >
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="product_name"
                  />
                  <span
                    style="color: red"
                    *ngIf="
                      !productForm.get('product_name')?.valid &&
                      (productForm.get('product_name')?.touched ||
                        productForm.get('product_name')?.dirty)
                    "
                    >Required</span
                  >
                </div>
                <div class="col-md-6">
                  <label class="form-label text-capitalize"
                    >Purchase date</label
                  >
                  <input
                    type="date"
                    class="form-control form-control-sm"
                    formControlName="product_purchase_date"
                  />
                  <span
                    style="color: red"
                    *ngIf="
                      !productForm.get('product_purchase_date')?.valid &&
                      (productForm.get('product_purchase_date')?.touched ||
                        productForm.get('product_purchase_date')?.dirty)
                    "
                    >Required</span
                  >
                </div>
                <div class="col-6">
                  <label class="form-label text-capitalize"
                    >Total Quantity</label
                  >
                  <input
                    type="number"
                    maxlength="4"
                    class="form-control form-control-sm"
                    formControlName="product_total_quantity"
                    (change)="calculateOneQuantity()"
                  />
                  <span
                    style="color: red"
                    *ngIf="
                      !productForm.get('product_total_quantity')?.valid &&
                      (productForm.get('product_total_quantity')?.touched ||
                        productForm.get('product_total_quantity')?.dirty)
                    "
                    >Required</span
                  >
                </div>
                <div class="col-6">
                  <label for="inputAddress2" class="form-label"
                    >Total Rate (&#x20b9;)</label
                  >
                  <input
                    type="number"
                    class="form-control form-control-sm"
                    formControlName="product_total_rate"
                    (change)="calculateOneQuantity()"
                  />
                  <span
                    style="color: red"
                    *ngIf="
                      !productForm.get('product_total_rate')?.valid &&
                      (productForm.get('product_total_rate')?.touched ||
                        productForm.get('product_total_rate')?.dirty)
                    "
                    >Required</span
                  >
                </div>
                <div class="col-md-6">
                  <label for="inputCity" class="form-label"
                    >Rate for 1 Quantity (&#x20b9;)</label
                  >
                  <input
                    type="number"
                    class="form-control form-control-sm"
                    formControlName="product_rate_for_one_quantity"
                    readonly
                  />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                style="margin-right: 2px"
                mat-raised-button
                color="warn"
                data-bs-dismiss="modal"
              >
                close
              </button>
              <button
                mat-raised-button
                color="primary"
                (click)="addNewProduct()"
                [disabled]="!productForm.valid"
              >
                <mat-icon>save</mat-icon>
                save product
              </button>
            </div>
            <mat-progress-bar
              color="primary"
              mode="indeterminate"
              *ngIf="progressBar"
            ></mat-progress-bar>
            <br />
          </div>
        </div>
      </div>

      <div class="container text-center">
        <div class="row align-items-start">
          <div class="col"></div>
          <div class="col">
            <div class="contanier">
              <mat-spinner
                *ngIf="progressBarForLoadingAllTheProducts"
              ></mat-spinner>
            </div>
            <div *ngIf="allProductArray.length === 0">
              <!-- <mat-card>
                <mat-card-subtitle> no products found</mat-card-subtitle>
              </mat-card> -->
            </div>
          </div>
          <div class="col"></div>
        </div>
      </div>

      <!-- product list table -->
      <mat-card>
        <div *ngIf="allProductArray.length > 0">
          <!-- search bar -->
          <div class="col-6">
            <div [(ngModel)]="searchText" ngDefaultControl>
              <input
                type="text"
                class="form-control"
                placeholder="search"
                style="margin-bottom: 8px"
              />
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-sm table-hover text-capitalize text-wrap">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">name</th>
                  <th scope="col">purchase date</th>

                  <th scope="col">in-stock(unit)</th>
                  <th scope="col">price/rate(&#x20b9;)</th>
                  <th scope="col">available(unit)</th>
                  <th scope="col">action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let product of allProductArray | search : searchText;
                    let i = index
                  "
                >
                  <td class="text-capitalize text-wrap">{{ i + 1 }}</td>
                  <td class="text-capitalize text-wrap">
                    {{ product[1]["product_name"] || "no data" }}
                  </td>
                  <td class="text-capitalize text-wrap">
                    {{ product[1]["product_purchase_date"] || "no data" }}
                  </td>
                  <td class="text-capitalize text-wrap">
                    {{ product[1]["product_total_quantity"] || "no data" }}
                  </td>
                  <td class="text-capitalize text-wrap">
                    {{ product[1]["product_rate_for_one_quantity"] || "no data"
                    }}
                  </td>
                  <td>
                    {{ product[1]["product_total_quantity"] || "no data" }}
                  </td>
                  <td>
                    <button
                      mat-icon-button
                      [matMenuTriggerFor]="menu"
                      aria-label="Example icon-button with a menu"
                    >
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button
                        mat-menu-item
                        data-bs-toggle="modal"
                        data-bs-target="#editProductModel"
                        color="primary"
                      >
                        <button
                          mat-raised-button
                          color="primary"
                          (click)="editProduct(product[0])"
                        >
                          <mat-icon style="color: white">edit</mat-icon>
                          <span>edit</span>
                        </button>
                      </button>
                      <button
                        mat-menu-item
                        (click)="deleteProduct(product[0])"
                        color="warn"
                      >
                        <mat-icon>delete</mat-icon>
                        <span>delete</span>
                      </button>
                    </mat-menu>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </mat-card>
    </main>
  </div>
</div>

<!-- edit model -->
<!--Modal dialog to add new product -->
<div class="modal fade" id="editProductModel" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-capitalize">
          update product #{{ uniqueProductId }}
        </h1>
        <button
          #closeUpdateModel
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!-- product form -->
      <div class="modal-body">
        <!-- product details -->
        <form [formGroup]="productForm" class="row g-3">
          <div class="col-md-6">
            <label class="form-label text-capitalize">Product/Good name</label>
            <input
              type="text"
              class="form-control form-control-sm"
              formControlName="product_name"
            />
            <span
              style="color: red"
              class="fw-lighter"
              *ngIf="
                !productForm.get('product_name')?.valid &&
                (productForm.get('product_name')?.touched ||
                  productForm.get('product_name')?.dirty)
              "
              >Required</span
            >
          </div>
          <div class="col-md-6">
            <label class="form-label text-capitalize">Purchase date</label>
            <input
              type="date"
              class="form-control form-control-sm"
              formControlName="product_purchase_date"
            />
            <span
              style="color: red"
              class="fw-lighter"
              *ngIf="
                !productForm.get('product_purchase_date')?.valid &&
                (productForm.get('product_purchase_date')?.touched ||
                  productForm.get('product_purchase_date')?.dirty)
              "
              >Required</span
            >
          </div>
          <div class="col-6">
            <label class="form-label text-capitalize">Total Quantity</label>
            <input
              type="number"
              maxlength="4"
              class="form-control form-control-sm"
              formControlName="product_total_quantity"
              (change)="calculateOneQuantity()"
            />
            <span
              style="color: red"
              class="fw-lighter"
              *ngIf="
                !productForm.get('product_total_quantity')?.valid &&
                (productForm.get('product_total_quantity')?.touched ||
                  productForm.get('product_total_quantity')?.dirty)
              "
              >Required</span
            >
          </div>
          <div class="col-6">
            <label for="inputAddress2" class="form-label"
              >Total Rate (&#x20b9;)</label
            >
            <input
              type="number"
              class="form-control form-control-sm"
              formControlName="product_total_rate"
              (change)="calculateOneQuantity()"
            />
            <span
              style="color: red"
              class="fw-lighter"
              *ngIf="
                !productForm.get('product_total_rate')?.valid &&
                (productForm.get('product_total_rate')?.touched ||
                  productForm.get('product_total_rate')?.dirty)
              "
              >Required</span
            >
          </div>
          <div class="col-md-6">
            <label for="inputCity" class="form-label"
              >Rate for 1 Quantity (&#x20b9;)</label
            >
            <input
              type="number"
              class="form-control form-control-sm"
              formControlName="product_rate_for_one_quantity"
              readonly
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          mat-raised-button
          color="warn"
          data-bs-dismiss="modal"
          style="margin-right: 1%"
        >
          close
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="updateProductById()"
          [disabled]="!productForm.valid"
        >
          update
        </button>
      </div>
      <mat-progress-bar
        id="update"
        mode="indeterminate"
        color="primary"
        *ngIf="progressBarForUpdation"
      ></mat-progress-bar>
      <br />
    </div>
  </div>
</div>
